<div class="container_card">
    <h1 class="main_title">Productos</h1>
  
    <div class="finder_container filters_container">
      <div class="content_search input_filter">
        <mat-form-field appearance="outline">
          <input matInput type="text" name="filter" [(ngModel)]="filter" (keyup)="paginador=1" placeholder="Buscar"
            class="inputSearch">
          <i class="fa-solid fa-magnifying-glass iconSearch" matSuffix></i>
        </mat-form-field>
      </div>
  
      <div class="btn_group">
        <div class="btn icon_add" (click)="addEdit()">
          <div>
            <span>Agregar</span>
          </div>
          <i class="fa-solid fa-plus icon"></i>
        </div>
      </div>
    </div>
  
    <div>
      <div id="tbl_product">
        <table class="mat-elevation-z8">
          <thead>
            <tr>
              <th>Código</th>
              <th>Proveedor</th>
              <th>Nombre</th>
              <th>Precio</th>
              <th>Cantidad</th>
              <th>Editar</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let item of listProduct | products: filter | paginate: {id:'product_table', itemsPerPage: objItems.items, currentPage: paginador}">
              <td>{{item.idProduct}}</td>
              <td class="item_Namesupplier">{{item.namesupplier}}</td>
              <td class="item_name">{{item.name}}</td>
              <td class="item_price">{{item.price}}</td>
              <td class="item_amount">{{item.amount}}</td>
              <td (click)="addEdit(item.idProduct)">
                <i class="fa-solid fa-pen icon_edit"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <pagination-controls class="my-pagination pagination" id="product_table" (pageChange)="paginador = $event"
        previousLabel="" nextLabel=""></pagination-controls>
    </div>
  </div>
  