<div class="login_container">
  <form [formGroup]="form" (ngSubmit)="login()"
    class="container_loginForm overall_container scroll_container mat-elevation-z2">
    <h1 class="minor_title">Iniciar sesión</h1>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Usuario</mat-label>
        <input placeholder="Nombre de usuario" formControlName="user" matInput type="text" required autocomplete="off"
          (change)="Username()">
        <mat-error *ngIf="fc['user'].invalid">{{UsernameErrorMessage}}</mat-error>
      </mat-form-field>
    </div>

    <div id="eye">
      <mat-form-field appearance="outline">
        <mat-label>Contraseña</mat-label>
        <input formControlName="password" placeholder="Contraseña" [type]="hide ? 'password' : 'text'" matInput
          type="password" required>
        <button mat-icon-button matSuffix type="button" color='primary' (click)="hide = !hide"
          [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <i [ngClass]="{'fa fa-eye-slash':hide, 'fa-solid fa-eye':!hide}"></i>
        </button>
        <mat-error *ngIf="fc['password'].invalid">{{PasswordErrorMessage}}</mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <mat-label>Sede</mat-label>
        <mat-select formControlName="idHeadquarters" required>
          <mat-option *ngFor="let data of headquarters" [value]="data.idHeadquarters">
            {{data.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="fc['idHeadquarters'].invalid">Campo obligatorio: Seleccionar una opción</mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-checkbox formControlName="remember">Recordar datos</mat-checkbox>
    </div>

    <div class="container_buttons button_footer">
      <button class="button accept" type="submit">Ingresar</button>
    </div>
  </form>
</div>
