<h1 class="main_title">Ciudades</h1>

<div class="finder_container filters_container">
  <div class="content_search input_filter">
    <mat-form-field appearance="outline">
      <input matInput type="text" name="filter" [(ngModel)]="filter" (keyup)="paginador=1" placeholder="Buscar"
        class="inputSearch">
      <i class="fa-solid fa-magnifying-glass iconSearch" matSuffix></i>
    </mat-form-field>
  </div>

  <div class="btn_group">
    <div class="btn icon_add" (click)="addEdit()">
      <div>
        <span>Agregar</span>
      </div>
      <i class="fa-solid fa-plus icon"></i>
    </div>
  </div>
</div>

<div>
  <div id="tbl_city">
    <table class="mat-elevation-z8">
      <thead>
        <tr>
          <th>Código</th>
          <th>País</th>
          <th>Nombre</th>
          <th>Editar</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let item of listCity |  paginate: {id:'city_table', itemsPerPage: objItems.items, currentPage: paginador}">
          <td>{{item.idCity}}</td>
          <td>{{item.countryName}}</td>
          <td class="item_name">{{item.name}}</td>
          <td (click)="addEdit(item.idCity)">
            <i class="fa-solid fa-pen icon_edit"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <pagination-controls class="my-pagination pagination" id="city_table" (pageChange)="paginador = $event"
    previousLabel="" nextLabel=""></pagination-controls>
</div>
