<div class="container_card">
  <h2 class="main_title">Orden - {{edit ? 'Editar' : 'Agregar'}}</h2>

  <div class="container_cities scroll_container">
    <div>
      <form [formGroup]="form">
        <div class="container_formCities">
          <div>
            <mat-form-field>
              <mat-label>Mesa</mat-label>
              <mat-select formControlName="idTable">
                <mat-option *ngFor="let data of listTable" [value]="data.idTable">
                  {{data.name}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="fc['idTable'].invalid">Campo obligatorio: Ingresar información</mat-error>
            </mat-form-field>
          </div>

          <div>
            <mat-form-field>
              <mat-label>Cantidad</mat-label>
              <input formControlName="amount" matInput maxlength="100" required placeholder="Cantidad">
              <mat-error *ngIf="fc['amount'].invalid">Campo obligatorio: Ingresar información</mat-error>
            </mat-form-field>
          </div>
        </div>
      </form>
    </div>

    <div>
      <div id="tbl_order">
        <table class="mat-elevation-z8">
          <thead>
            <tr>
              <th>Producto</th>
              <th>Cantidad</th>
              <th>Total</th>
              <th>Eliminar</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let item of listDataProduct | paginate: {id:'order_table', itemsPerPage: 4, currentPage: paginador}">
              <td class="item_name">{{item.idTakeOrder}}</td>
              <td>{{item.name}}</td>
              <td>{{item.totalValue}}</td>
              <td (click)="removeProduct()">
                <i class="fa-solid fa-pen icon_edit"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <pagination-controls class="my-pagination pagination" id="order_table" (pageChange)="paginador = $event"
        previousLabel="" nextLabel=""></pagination-controls>
    </div>
  </div>

  <div class="container_buttons">
    <button class="button cancel" type="button" (click)="cancel()">Cancelar</button>
    <button class="button accept" color="primary" type="button"
      (click)="save()">{{edit?'Actualizar':'Guardar'}}</button>
  </div>
</div>
