$pns-palette: (
  50: #f4e7f9,
  100: #c4d9f0,
  200: #9cc5e6,
  300: #74a5dc,
  400: #578dd5,
  500: #396dcd,
  600: #336fc8,
  700: #2c4fc1,
  800: #2447ba,
  900: #1747ae,
  A100: #e2eaff,
  A200: #afc2ff,
  A400: #7ca5ff,
  A700: #6387ff,
  contrast: (50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
